@import "../config/variables";
.limiter {
    width: 100%;
}
.data-table {
    font-size: 12px;

    .table-header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: grid;
        background: $primary;
        .column {
            padding: 1em;
            grid-column: auto / span 4;
            border-right: 1px solid rgba(255, 255, 255, 0.123);
            display: grid;
                place-items:center;
            &:hover {
                background: rgba($grey, 0.1);
            }
            &.selectorCol {
                cursor: default;
                grid-column: auto / span 1;
            }
        }
    }

    .table-content {
        
        &::-webkit-scrollbar {
            width: 5px;
            background: transparent;
            cursor: pointer;
        }
        &::-webkit-scrollbar-track {
            background: rgba(128, 128, 128, 0.11);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.1);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }
        overflow-y: scroll;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid $grey;
        .table-row {
            transition: transform .3s ease-in-out;
            will-change: all;
            display: grid;
            border-bottom: 1px solid rgba($grey, .7);
            &.sorting {
                transform: scaleY(0)
            }
            &:hover {
                background: rgb(222, 226, 228);
            }
            .column {
                padding: 1em;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: grid;
                place-items:center;
                overflow: hidden;
                grid-column: auto / span 4;
                &.selectorCol {
                    padding: 1em 1em 1em 1em;
                    grid-column: auto / span 1;
                }
                &:focus-within::before {
                    position:absolute;
                    content: attr(data-value);
                    padding: .5em;
                    background: $grey;
                    border-radius: 5px;

                }
            }

            &:last-child {
                border: none;
            }
            &.selectedRow {
                color:$primary;
                background:rgba(217, 189, 250, 0.1)
            }
        }
        
    }

    .table-row:last-child {
        border-bottom-left-radius: 5px;
    }
}

.hideRow {
    transform: scaleY(0);
    height: 0;
}


.pagination-bloc {
    justify-content: center;
ul {
    transform: scale(.5);
    width: fit-content;
    position: relative;
    background: #fff;
    display: flex;
    border-radius: 50px;
    margin:0;
  }
  
  ul li {
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
  }
  
  ul li.pageNumber {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  
  ul li a {
    display: block;
    text-decoration: none;
    color: #383838;
    font-weight: 500;
    border-radius: 50%;
  }
  
  ul li.pageNumber:hover a,
  ul li.pageNumber.active a {
    background: $primary;
    color: #fff;
  }


  ul li:first-child {
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px;
    transition: .2s ease-in-out all;
  }

  .prev:hover, .next:hover {
      color: $primary;
  }

  
  ul li:last-child {
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
  }
}
